body{
  height: 2000px;
  background: yellow;
}
p{
  position: fixed;
  top: 20%;
  left: 25%;
  color:magenta;
  font-family: futura;
  font-size: 120px;

}
.box{
  position: absolute;
  top: 100%;
  left: 0;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  background: blue;
  transition-property: left;
  transition-duration: 1s;
}
/* toggleclass를 사용하면 object에도 transition타임을 설정해 주어야 한다. */

.box.active{
  left: 50%;
  transition-property: left;
  transition-duration: 1s;
}
