body{
  margin: 0;
  padding: 0;
  background: blue;
}
.wrapper{
  position: relative;
  width: 1440px;
  margin: 0 auto;
}

.wrapper div{
  position: relative;
  width: 100%;
  height: 750px;
}

/* Navigation */
.navigation{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,255,0,0.9);
    top: -96%;
    left: 0;
    z-index: 2;
    transition-property: top;
    transition-duration: 1s;
}

.navigation.active{
  top: 0;
  transition-property: top;
  transition-duration: 1s;
}

.navigation li a{
  color: blue;
  text-decoration: overline;
  font-family: futura;
  font-weight: bolder;
  font-size: 30px;
}

.navigation li a:hover{
    color: cyan;
}

.navigation ul{
  position: absolute;
  left: 47%;
  top: 45%;
  width: 700px;
  margin-left: -350px;
  margin-top:  -135px;
  list-style: none;
}

.openingText{
  position: fixed;
  top: -2px;
  left: 47.5%;
  margin: 0px;
  color: red;
  font-size: 30px;
  z-index: 4;
}

.closingText{
  position: absolute;
  bottom: -5px;
  left: 47.1%;
  margin: 0px;
  color: yellow;
  font-size: 30px;
}

.navigation li{
  text-align: center;
  margin-bottom: 20px;
}

div.line{
  position: absolute;
  top:0px;
  left:2px;
  width: 1px;
  left:50%;
  height: 100%;
  background: black;
  z-index: 3;
}
